%h1 Order Received - #{@current_order.meal.meal_name}
%h2 Thank you, #{current_student.student_first_name}, for your order. A text notification will be sent to #{current_student.student_phonenumber} when it is ready for pickup.


=button_to 'Back to Main', navigation_studentnavigation_path, method: :get, :class => 'general'

